dj-database-url==0.3.0
Django==1.11.23
django-filter==1.0.4
django-haystack==2.6.1
django-selectable==1.0.0
django-widget-tweaks==1.4.1
djangorestframework==3.6.3
easy-thumbnails==2.4.1
elasticsearch==2.4.1
elasticsearch2-haystack==0.1
gunicorn==19.4.5
Markdown==2.6.8
olefile==0.44
Pillow==4.1.1
psycopg2==2.6.2
pytz==2017.2
sorl-thumbnail==12.3
urllib3==1.22
whitenoise==2.0.6
wmctrl==0.3
