{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Usuarios</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.first_name.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    {{ form.first_name }}
                                </div>
                                <label id="age-error" class="error" for="age">{{ form.first_name.errors }}</label>
                                <span class="help-block">{{ form.first_name.help_text }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.last_name.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    {{ form.last_name }}
                                </div>
                                <label id="age-error" class="error" for="age">{{ form.last_name.errors }}</label>
                                <span class="help-block">{{ form.last_name.help_text }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.username.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    {{ form.username }}
                                </div>
                                <label id="age-error" class="error" for="age">{{ form.username.errors }}</label>
                                <span class="help-block">{{ form.username.help_text }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.email.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-mail-reply"></span></span>
                                    {{ form.email }}
                                </div>
                                <label id="age-error" class="error" for="age">{{ form.email.errors }}</label>
                                <span class="help-block">{{ form.email.help_text }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.telefone.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                    {{ form.telefone }}
                                </div>
                                <label id="age-error" class="error" for="age">{{ form.telefone.errors }}</label>
                                <span class="help-block">{{ form.telefone.help_text }}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">{{ form.data_nascimento.label_tag }}</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-child"></span></span>
                                    {{ form.data_nascimento }}
                                </div>
                                <label id="age-error" class="error" for="age">{{ form.data_nascimento.errors }}</label>
                                <span class="help-block">{{ form.data_nascimento.help_text }}</span>
                                <span class="help-block">Clique no campo acima pra escolher uma data</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Setor</label>
                            <div class="col-md-6 col-xs-12">
                                {{ form.setor }}
                                <label id="age-error" class="error" for="age">{{ form.setor.errors }}</label>
                                <span class="help-block">{{ form.setor.help_text }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">{{ form.foto.label_tag }}</label>
                            <div class="col-md-6 col-xs-12">
                                {{ form.foto }}
                                <label id="age-error" class="error" for="age">{{ form.foto.errors }}</label>
                                <span class="help-block">{{ form.foto.help_text }}</span>
                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Apagar Campos</button>
                        <button class="btn btn-primary pull-right">Enviar</button>
                    </div>
                </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->
{% endblock %}
{% block javascript %}
    <script type='text/javascript' src='{% static 'js/plugins/maskedinput/jquery.maskedinput.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/plugins/jquery-validation/jquery.validate.js' %}'></script>
    <script>
        $(function() {
            $.mask.definitions['~'] = "[+-]";
            $("#id_nascimento").mask("99/99/9999");
            $(".phone").mask("(99) 99999-9999");
            $(".cpf").mask("999.999.999-99");

            $("input").blur(function() {
                $("#info").html("Unmasked value: " + $(this).mask());
            }).dblclick(function() {
                $(this).unmask();
            });
        });
    </script>
    <script type="text/javascript">
            var jvalidate = $("#jvalidate").validate({
                ignore: [],
                rules: {
                        login: {
                                required: true,
                                minlength: 2,
                                maxlength: 8
                        },
                        password: {
                                required: true,
                                minlength: 5,
                                maxlength: 10
                        },
                        're-password': {
                                required: true,
                                minlength: 5,
                                maxlength: 10,
                                equalTo: "#password2"
                        },
                        age: {
                                required: true,
                                min: 18,
                                max: 100
                        },
                        email: {
                                required: false,
                                email: true
                        },
                        date: {
                                required: true,
                                date: true
                        },
                        credit: {
                                required: true,
                                creditcard: true
                        },
                        site: {
                                required: true,
                                url: true
                        }
                    }
                });

        </script>
    <script>
        function FormatarData(dataFormatar){

            var dia = "";
            var mes = "";
            var ano = "";

            dia += dataFormatar[0];
            dia += dataFormatar[1];
            mes += dataFormatar[3];
            mes += dataFormatar[4];
            ano += dataFormatar[6];
            ano += dataFormatar[7];
            ano += dataFormatar[8];
            ano += dataFormatar[9];

            return mes+"/"+dia+"/"+ano;
        }

        function GetAge(nascimento){
            formatada = FormatarData(nascimento);
            dob = new Date(formatada);
            var today = new Date();
            var age = Math.floor((today-dob) / (365.25 * 24 * 60 * 60 * 1000));
            return age
        }

        $(document).ready(function(){
            $("#id_nascimento").focusout(function(){
                if ($("#id_nascimento").val() != "__/__/____") {
                    $("#result").text(GetAge($("#id_nascimento").val()));
                }
            });
        });
    </script>
    <script>
        function validaCPF(cpf) {
            var numeros, digitos, soma, i, resultado, digitos_iguais;
            cpf = cpf.replace(/\D/g,'');
            digitos_iguais = 1;
            if (cpf.length < 11)
                  return false;
            for (i = 0; i < cpf.length - 1; i++)
                  if (cpf.charAt(i) != cpf.charAt(i + 1))
                        {
                        digitos_iguais = 0;
                        break;
                        }
            if (!digitos_iguais)
                  {
                  numeros = cpf.substring(0,9);
                  digitos = cpf.substring(9);
                  soma = 0;
                  for (i = 10; i > 1; i--)
                        soma += numeros.charAt(10 - i) * i;
                  resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                  if (resultado != digitos.charAt(0))
                        return false;
                  numeros = cpf.substring(0,10);
                  soma = 0;
                  for (i = 11; i > 1; i--)
                        soma += numeros.charAt(11 - i) * i;
                  resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
                  if (resultado != digitos.charAt(1))
                        return false;
                  return true;
                  }
            else
                return "Please enter a valid URL.";
          }

        $(document).ready(function(){
            $("#id_cpf").focusout(function(){
                // tentativa de validacao caso campo CPF nao seja vazio
                if ($("#id_cpf").val() != "___.___.___-__"){
                    // mostra erro caso CPF nao seja valido
                    if (validaCPF($("#id_cpf").val()) == false){
                        $("#cpf-error").text("CPF inválido");
                    }else {
                        $("#cpf-error").text("");
                    }
                }else {
                        $("#cpf-error").text("");
                    }
            });
        });
    </script>
{% endblock %}